.Buttonn{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid #FFC000 2px;
    box-shadow: 2px 2px 0px #FFC000;
    padding-left: 8px;
    font-size: 18px;
    padding: 5px;
}

button:hover{
    box-shadow: 3px 3px 0px #FFC000;
    transform: translate(-1px, -1px);
    cursor: pointer;
}

.Button-container{
    width: 40%;
    padding: 0px 0px;
}