.lixi-item {
    position: absolute;
    top: 0;
    font-size: 24px;
    cursor: pointer;
    animation: fallAnimation 3s linear infinite;
  
    @keyframes fallAnimation {
      to {
        top: 100vh;
      }
    }
  }