.Sign-up-roll-close{
    height: 0px;
}

.Sign-up-roll-open {
    height: 578px;
}

.Sign-up-container{
    background-color: rgb(175, 0, 0);
    width: 442px;
    align-self: center;
    padding: 56px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.6s ease;
}