//dinh nghia
$background: '@/assets/background.png';
$bestwish-background: '@/assets/bestwishbackground.png';
$cuonso: '@/assets/cuonso.png';
$leftObject: '@/assets/LeftObject.png';
$rightObject: '@/assets/RightObject.png'